.overlay-popup{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color-background-2;
    z-index: 1000;
}

.overlay-popup2{
    @extend .overlay-popup;
    background-color: rgba($color: $color-background-2, $alpha: .6)
}

.start-popup{
    width: 500px;
    height: 400px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    -webkit-box-shadow: 0px 6px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 6px 30px rgba(0,0,0,0.3);
    box-shadow: 0px 6px 30px rgba(0,0,0,0.3);
    border-radius: 10px;
    img{
        width: 65px;
        height: 65px;
        margin-bottom: 40px;
    }
    h1{
        color: $white-text;
        margin-bottom: 40px;
    }
    input[type=text]{
        background-color: $color-background-3;
        border: none;
        padding: 10px 30px 10px 20px;
        text-align: center; 
        caret-color: $white-text;
        color: $white-text;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        border-radius: 11px;
        &:focus{
            outline: none;
        }
    }
    button[type=submit]{
        border: none;
        background: none;
        background-image: url('../images/icon/submit-arrow.png');
        background-size: contain;
        width: 12px;
        height: 12px;
        position: absolute;
        right: 10px;
        top: 13px;
        opacity: .7;
        cursor: pointer;
        transition: .1s ease-in-out;
        &:hover{
            transform: scale(1.1)
        }
    }
    .input-popup{
        position: relative;
    }
}

.full-screen{
    position:fixed;
    z-index : 100000 !important;
    width: 27%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.full-screen .led-header a#full-screen{
    background-image: url('../images/icon/close.png')
}